# Node
node_modules/

# Python
__pycache__/
*.py[cod]
*.pyo
venv/

# Environment
.env

# Logs
*.log

# VS Code
.vscode/

# React Build
dist/

# Expo
.expo/

# Archives
*.zip
*.7z

# OS Files
.DS_Store
Thumbs.db
# Uploaded profile images
backend/app/static/uploads/profiles/
